<section class="job-summary">
    <div class="mt-10 mb-10">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>{{ title }}</mat-panel-title>
                    <mat-panel-description>
                        <strong>total: R$ {{ getAmountJob() }}</strong>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-panel-description>
                    <ul class="job-summary__list">
                        <li *ngFor="let job of jobs">
                            <div class="job-summary__item">
                                <p><strong>Descrição:</strong> {{ job.descricao }}</p>

                                <div class="job-summary__item__wrapper">
                                    <p><strong>Valor: </strong> R$ {{ job.valor }}</p>

                                    <button mat-icon-button color="warn" [attr.aria-label]="'deletar ' + job.descricao">
                                        <mat-icon aria-hidden="true">delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                            <mat-divider></mat-divider>
                        </li>
                    </ul>
                </mat-panel-description>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</section>
