@import '../../../scss/functions.scss';

.print {
    background-color: white;
    padding: 20px;

    h2 {
        text-align: center;
    }

    header {
        text-align: center;
        h1 {
            font-weight: bold;
        }
    }

    &__vehicle {
        /* p:first-child {
            margin-top: 1rem;
        } */
    }

    &__jobs {
    }

    &__footer {
        text-align: center;

        p:first-child {
            margin-top: remCalc(24);
        }
    }
}
