<section class="print">
    <header>
        <h1>Aparecido R. dos Santos Funilaria e Pintura</h1>
        <p>CNPJ: 38.652.763/0001-90</p>
        <p>Rua Itajaí, 656 – Vila Nova, Londrina – PR</p>
        <p>Cel.: (43) 98413-5015</p>
    </header>

    <article class="print__vehicle">
        <h2>Orçamento</h2>
        <p><strong>Veículo:</strong> {{ vehicleData.marca | uppercase }}, PLACA {{ vehicleData.placa | uppercase }}</p>
        <p><strong>Proprietário:</strong> {{ vehicleData.proprietario | titlecase }}</p>
    </article>

    <article class="print__jobs">
        <h2>Serviços</h2>

        <table *ngIf="showTable" mat-table [dataSource]="jobs" class="mat-elevation-z8">
            <ng-container matColumnDef="job">
                <th mat-header-cell *matHeaderCellDef>Serviço</th>
                <td mat-cell *matCellDef="let job">{{ job.tipo }}</td>
                <td mat-footer-cell *matFooterCellDef><strong>Valor total:</strong></td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Descrição</th>
                <td mat-cell *matCellDef="let job">{{ job.descricao }}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef>Valor</th>
                <td mat-cell *matCellDef="let job">R$: {{ job.valor.toLocaleString('pt-BR', { style: 'decimal', minimumFractionDigits: 2 }) }}</td>
                <td mat-footer-cell *matFooterCellDef>
                    <strong>R$ {{ getTotalCost() }}</strong>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        </table>
    </article>

    <!-- <p class="print__amount"><strong>Valor total:</strong> R$ teste</p> -->

    <article class="print__footer">
        <p>Londrina, {{ today | date : 'dd/MM/yyyy' }}</p>

        <p>
            <strong>Orçamento válido por 10 dias a partir da data de emissão.</strong>
        </p>

        <p>
            Orçamento válido até: <strong>{{ next10days }}</strong>
        </p>
    </article>
</section>
