<p class="mt-50">home works!</p>
<!-- Links gerar pdf:
https://erikthiago.medium.com/como-gerar-pdf-de-forma-r%C3%A1pida-e-pratica-no-anuglar-6b6c11e96857
https://www.npmjs.com/package/ngx-print?source=post_page-----6b6c11e96857--------------------------------
https://github.com/selemxmn/ngx-print
https://medium.com/code-prestige/gerando-arquivos-pdf-com-javascript-23e8b19fde99
https://rawgit.com/MrRio/jsPDF/master/docs/index.html
https://pt.stackoverflow.com/questions/587972/jspdf-gerando-pdf-gigante
https://imasters.com.br/front-end/gerando-pdfs-com-js
https://www.google.com/search?q=gerando+pdf+medidas+a4+html+css+e+js&oq=gerando+pdf+medidas+a4+html+css+e+js&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIKCAEQABiABBiiBDIKCAIQABiABBiiBDIKCAMQABiABBiiBDIKCAQQABiABBiiBDIKCAUQABiABBiiBNIBCDc5NDFqMGo3qAIAsAIA&sourceid=chrome&ie=UTF-8

https://pt.stackoverflow.com/questions/149014/como-imprimir-p%C3%A1ginas-em-a4-utilizando-css
-->
